
   /* Add styles on App.css file for adjust layout for margin navbar  */
   .mt-navbar {
    margin-top: 20px;
}


/* Responsive Navbar Layout (example on Mobile)  */
@media (max-width: 767px) {
 .navbar-brand {
   margin-left: 5%; /* Add space  on left side from Logo  (only on mobile) */

     }

 .navbar-nav {
    margin-left: auto;
    margin-right: 5%; /* Adjust all button container from menu side  (only on mobile) */
    }

}
/* adding classes on bootstrap */

.custom-navbar .dropdown-menu {
 position: absolute !important;
   inset: auto auto 0px 0px !important; /* make item show correctlly (without crash outside div container */
  }
 .dropdown-menu[data-bs-popper] {
       transform: none !important;/* remove css of javascript library default actions that makes the list goes down instead to side */
}